name: Main

on:
  push:
    branches: [ main ]
    # Always run on commits

  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3

      - name: 'Install Rust toolchain'
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: 'Install Protoc'
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run clippy
        run: cargo clippy --locked --all-targets --all-features

      - name: 'Check formatting'
        run: cargo fmt -- --check

      - name: 'Compile Wasm app'
        run: cargo build --locked --release --target wasm32-unknown-unknown

      - name: 'Compile'
        run: cargo build --locked

      - name: 'Run tests'
        run: cargo test --locked

      - name: 'Generate puzzles'
        run: cargo run --locked --bin gol -- create-puzzles

      - name: 'Install Linera CLI'
        run: cargo install --locked linera-storage-service@0.15.3 linera-service@0.15.3

      - name: 'Run code in README including code-generation'
        run: linera extract-script-from-markdown backend/README.md | bash -ex

      - name: 'Verify that code-generated files are unchanged'
        run: git diff --exit-code
